@import '@fontsource/fira-mono';
@import url(//db.onlinewebfonts.com/c/a2405005ceb0deeb8f05a16925e8afd2?family=Neutraface+Slab+Display+TT+Light);
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poiret+One&display=swap');

:root {
	font-family: DotGothic16;
	/* font-family: "Neutraface Slab Display TT Light"; */
	--black: #151515;
	--white: #fff;
	--matrix_green: #00FF41;

}

/* debug
* {
    border: 1px solid red;
} */

body {
	position: relative;
	min-height: 100vh;
	width: 100%;
	margin: 0;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}


h1, h2, h3, h4, h5, p {
	font-weight: lighter;
	letter-spacing: 0;
	color: #151515;
	padding: 0;
	margin: 0;

}

/* title in detail page */
h1 {
	font-size: 32px;
}

/* title in list pages */
h2 {
	font-size: 24px;
}

/* subtitle */
h3 {
	font-size: 20px;
}

/* text */
h4 {
	font-size: 16px;
}

/* tag, footer text */
h5 {
	font-size: 13px;

}

p {
	font-size: 16px;
}

a {
	/* color: var(--accent-color); */
	text-decoration: none;
}
hr{
	justify-self: center;
	margin:2rem;
}
a:hover {
	border: 1px solid var(--matrix_green);
	border-radius: 3px;
	/* text-decoration: underline; */
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.header_spacing{
	height: 50px;
	width: 100%;
}
.footer_spacing{
	height: 250px;
	width: 100%;
}
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

